@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,900;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
}

:root {
    --vio: #7177F1;
}

.call {
    content: url(../img/call.svg);
}

.header__link {
    font-size: 24px;
    text-transform: capitalize;
    color: var(--vio) !important;
}

.header__link:hover {
    background: var(--vio);
    color: white !important;
}

.intro__content {
    max-width: 520px;
    width: 100%;
}

.intro__post {
    color: #323232;
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
}

.title {
    color: var(--vio);
    font-weight: 600;
    font-size: 40px;
}

.btn-bg {
    background: var(--vio);
    width: max-content;
}

.intro__item {
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--vio);
}

.intro__block {
    height: 500px;
}

.carousel-indicators {
    position: unset;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 0%;
}

.carousel-indicators [data-bs-target] {
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 13px;
    margin-left: 13px;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    margin-top: 50px;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background: var(--vio);
}

.front__badge {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0FDAC2;
    font-weight: 700;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -15px;
}

.front__text {
    font-size: 18px;
    color: #323232;
    line-height: 150%;
}

.front__left {
    min-height: 450px;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    padding: 30px;
}

.accordion-button::after {
    background-image: url(../img/angle.svg);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/angleWhite.svg);
}

.accordion-button:not(.collapsed) {
    background: var(--vio);
    box-shadow: unset;
    color: white;
}

.accordion-button:not(.collapsed)>svg>path {
    fill: white;
}

.accordion-button {
    font-weight: 900;
    font-size: 19px;
    color: var(--vio);
    text-transform: uppercase;
    gap: 20px;
}

.accordion-body {
    background: var(--vio);
    color: white;
}